
<h1>LeaderBoard</h1>


<table>
  <thead>
    <tr>
      <th>Position</th>
      <th>Email</th>
      <th>Book read</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @ranking.each do |rank| %>
      <tr>
        <td><%= @ranking.find_index(rank) + 1 %></td>
        <td><%= rank[0].email %></td>
        <td> <%= rank[1] %> </td>
        <td><%= link_to 'See Profile', usera_path(rank[0].id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', user_books_path %>
<br>

