<p id="notice"><%= notice %></p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Review:</strong>
  <%= @book.review %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<%= link_to 'Edit', edit_user_book_path(@book) %> |
<%= link_to 'Back', user_books_path %>
